html {
	background: url("/imgs/positano.jpeg") no-repeat center fixed;
	background-size: cover;
}
h1 {
  	color: white;
  	font-family: verdana;
  	font-size: 20px;
  	text-align: center;
}
p { 
 	font-family: verdana;
  	font-size: 20px;
}
/*a {
	text-decoration: none;
	color:white;
}
a:hover {
	color:red;
}
a:visited {
	text-decoration: underline;
}*/

#project_button {
	display: inline-block;
  	padding: 15px 25px;
  	font-size: 24px;

  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	color: #ffffff;
  	background-color: red;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;

	 cursor:pointer;
  	
  	position:relative;
  	top:50px;
}
#about_me {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;

    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    cursor:pointer;
    
    position:relative;
    top:130px;
    left:-140px;
}
#background_changer {
      display: inline-block;
    padding: 15px 25px;
    font-size: 24px;

    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    cursor:pointer;
    
    position:relative;
    top:210px;
    left:-300px;

}

#project_button:hover, #about_me:hover, #background_changer:hover {
  	background-color: #8b0000;
  	
}
#project_button:active, #about_me:active, #background_changer:active {
	transform: translateY(4px);
  	box-shadow: 0 5px #666;
}